*.vscode
PlotData/Deuteron/data/*
*_pycache_*

# Latex
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
*.ist

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# svg
svg-inkscape/

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# titletoc
*.ptc

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

PlotData/env_thesis/lib64
PlotData/env_thesis/pyvenv.cfg
PlotData/env_thesis/bin/activate
PlotData/env_thesis/bin/activate.csh
PlotData/env_thesis/bin/activate.fish
PlotData/env_thesis/bin/Activate.ps1
PlotData/env_thesis/bin/easy_install
PlotData/env_thesis/bin/f2py
PlotData/env_thesis/bin/f2py3
PlotData/env_thesis/bin/flake8
PlotData/env_thesis/bin/fonttools
PlotData/env_thesis/bin/ipython
PlotData/env_thesis/bin/ipython3
PlotData/env_thesis/bin/jupyter
PlotData/env_thesis/bin/jupyter-kernel
PlotData/env_thesis/bin/jupyter-kernelspec
PlotData/env_thesis/bin/jupyter-migrate
PlotData/env_thesis/bin/jupyter-run
PlotData/env_thesis/bin/jupyter-troubleshoot
PlotData/env_thesis/bin/pip
PlotData/env_thesis/bin/pip3
PlotData/env_thesis/bin/pycodestyle
PlotData/env_thesis/bin/pyflakes
PlotData/env_thesis/bin/pyftmerge
PlotData/env_thesis/bin/pyftsubset
PlotData/env_thesis/bin/pygmentize
PlotData/env_thesis/bin/python
PlotData/env_thesis/bin/python3
PlotData/env_thesis/bin/tqdm
PlotData/env_thesis/bin/ttx
PlotData/env_thesis/etc/jupyter/nbconfig/notebook.d/jupyter-matplotlib.json
PlotData/env_thesis/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
PlotData/env_thesis/share/jupyter/kernels/python3/kernel.json
PlotData/env_thesis/share/jupyter/kernels/python3/logo-32x32.png
PlotData/env_thesis/share/jupyter/kernels/python3/logo-64x64.png
PlotData/env_thesis/share/jupyter/kernels/python3/logo-svg.svg
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/install.json
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/package.json
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/plugin.json
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/61.21f571face17e35076c2.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.dd66397047ecb9a605cf.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/113.dd66397047ecb9a605cf.js.LICENSE.txt
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/134.bcbea9feb6e7c4da7530.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/150.3e1e5adfd821b9b96340.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.f707f721e4b3a5489ee0.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/291.f707f721e4b3a5489ee0.js.LICENSE.txt
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/345.82d0af3c0c6ff87d95f4.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/495.211015baa14adae19b31.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/595.e3c9c115ecf5763f080b.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/596.161a3b5dd4f4d52c1593.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/644.11f638668109f1562dd1.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/699.d004d23061da64f55a9a.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/965.8b60ee098074f7ed452d.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/remoteEntry.1116b848a6f7126bf3e9.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/style.js
PlotData/env_thesis/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/static/third-party-licenses.json
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/package.json
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/108.549e99e5841737901dce.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/480.05689dae15d4ca21a7c9.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/486.a990865715734ae8b8aa.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/486.a990865715734ae8b8aa.js.LICENSE.txt
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/686.a4f51a31261ecefe2aef.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/remoteEntry.6b5d328600b8f618f724.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/style.js
PlotData/env_thesis/share/jupyter/labextensions/jupyter-matplotlib/static/third-party-licenses.json
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-matplotlib/extension.js
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-matplotlib/index.js
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-matplotlib/index.js.LICENSE.txt
PlotData/env_thesis/share/jupyter/nbextensions/jupyter-matplotlib/index.js.map
PlotData/env_thesis/share/python-wheels/appdirs-1.4.3-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/CacheControl-0.12.6-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/certifi-2019.11.28-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/chardet-3.0.4-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/colorama-0.4.3-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/contextlib2-0.6.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/distlib-0.3.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/distro-1.4.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/html5lib-1.0.1-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/idna-2.8-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/ipaddr-2.2.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/lockfile-0.12.2-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/msgpack-0.6.2-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/packaging-20.3-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/pep517-0.8.2-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/pip-20.0.2-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/pkg_resources-0.0.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/progress-1.5-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/pyparsing-2.4.6-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/requests-2.22.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/retrying-1.3.3-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/setuptools-44.0.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/six-1.14.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/toml-0.10.0-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/webencodings-0.5.1-py2.py3-none-any.whl
PlotData/env_thesis/share/python-wheels/wheel-0.34.2-py2.py3-none-any.whl
